{%load static from staticfiles%}
<!DOCTYPE html>
{% if user.is_authenticated %}
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
    }

    p {
      font-size: 16px;
    }

    .margin {
      margin-bottom: 45px;
    }

    .bg-1 {
      background-color: #003d66;
      /* Green */
      color: #ffffff;
    }

    .bg-2 {
      background-color: #474e5d;
      /* Dark Blue */
      color: #ffffff;
    }

    .bg-3 {
      background-color: #ffffff;
      /* White */
      color: #555555;
    }

    .bg-4 {
      background-color: #2f2f2f;
      /* Black Gray */
      color: #fff;
    }

    .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    .navbar {
      padding-top: 10px;
      padding-bottom: 10px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
    }

    .navbar-nav li a:hover {
      color: #1abc9c !important;
    }
  </style>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">Spartans Hydrologic Data</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <h4><li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span><font color = #666699> Sign Out </font></a></li></h4>
        </ul>
      </div>
    </div>
  </nav>

  <!-- First Container -->
  <div class="container-fluid bg-1 text-center">
    <h3 class="margin">Group Project</h3> {% load static %}
    <img src="{% static 'home2.jpg' %}" class="img-responsive img-circle margin" style="display:inline" alt="home1" width="500" height="500">
    </img>
    <h3>CMPE 281 - Project Group 3 </h3>
  </div>

  <!-- Third Container (Grid) -->
  <div class="container-fluid bg-3 text-center">
    <h3 class="margin">Features</h3><br>
    <div class="row">
      <a href="{{request.scheme}}://{{ request.META.HTTP_HOST }}/projectdetail">
        <div class="col-md-2 col-md-offset-1">
          <p>Project Details</p>
          <br>
          <img src="{% static 'proj_details2.jpg' %}" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
      </a>
      <a href="{{request.scheme}}://{{ request.META.HTTP_HOST }}/dashboard">
        <div class="col-md-2">
          <p>Dashboard</p>
          <br>
          <img src="{% static 'dashboard.png' %}" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
      </a>
      <a href="{{request.scheme}}://{{ request.META.HTTP_HOST }}/station_map">
        <div class="col-md-2">
          <p>Station Map</p>
          <br>
          <img src="{% static 'station_map.jpg' %}" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
      </a>
      <a href="{{request.scheme}}://{{ request.META.HTTP_HOST }}/aboutus">
        <div class="col-md-2">
          <p>About Us</p>
          <br>
          <img src="{% static 'about_us.jpg' %}" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
      </a>
      <a href="{{request.scheme}}://{{ request.META.HTTP_HOST }}/contact">
        <div class="col-md-2">
          <p>Contact</p>
          <br>
          <img src="{% static 'contact.jpg' %}" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
      </a>
    </div>
  </div>

  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p>Project: CMPE 281 (Group 3)</p>
  </footer>

</body>
{% else %}
<html lang="en">

<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
    }

    p {
      font-size: 16px;
    }

    .margin {
      margin-bottom: 45px;
    }

    .bg-1 {
      background-color: #003d66;
      /* Green */
      color: #ffffff;
    }

    .bg-2 {
      background-color: #474e5d;
      /* Dark Blue */
      color: #ffffff;
    }

    .bg-3 {
      background-color: #ffffff;
      /* White */
      color: #555555;
    }

    .bg-4 {
      background-color: #2f2f2f;
      /* Black Gray */
      color: #fff;
    }

    .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    .navbar {
      padding-top: 10px;
      padding-bottom: 10px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
    }

    .navbar-nav li a:hover {
      color: #1abc9c !important;
    }
  </style>
</head>

<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Spartans Hydrologic Data</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{%url 'login'%}">Sign In</a></li>
        <li><a href="{%url 'signup'%}">New?</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Group Project</h3> {% load static %}
  <img src="{% static 'home2.jpg' %}" class="img-responsive img-circle margin" style="display:inline" alt="home1"
       width="500" height="500">
  </img>
  <h3>CMPE 281 - Project Group 3</h3>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">Features</h3><br>
  <div class="row">
    <a href="{{request.scheme}}://{{ request.META.HTTP_HOST }}/projectdetail">
      <div class="col-sm-3">
        <p>Project Details</p>
        <img src="{% static 'proj_details2.jpg' %}" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
    </a>
    <a href="{% url 'signup' %}">
      <div class="col-sm-3">
        <p>Sign Up</p>
        <br>
        <br>
        <img src="{% static 'signup2.png' %}" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
    </a>
    <a href="{{request.scheme}}://{{ request.META.HTTP_HOST }}/aboutus">
      <div class="col-sm-3">
        <p>About Us</p>
        <img src="{% static 'about_us.jpg' %}" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
    </a>
    <a href="{{request.scheme}}://{{ request.META.HTTP_HOST }}/contact">
      <div class="col-sm-3">
        <p>Contact </p>
        <br>
        <img src="{% static 'contact.jpg' %}" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
    </a>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Project: CMPE 281 (Group 3)</p>
</footer>

</body>
{% endif %}



</html>
